/*This CSS will be added whenever the view is in use. Remember that the style is part of the global scope*/
.fancy-text{
    font-family:'Comic Sans MS';
    font-size:30px;
    color:deeppink;
}

.fancy-text::first-letter{
    font-size:42px;
    color:lime;
}